@import "syntax-variables";

atom-text-editor {
	.cursor {
		color: @syntax-cursor-color;
	}

	background-color: @syntax-background-color;
	color: @syntax-text-color;

	.selection .region {
		background-color: @syntax-select-back-color;
	}

	.cursor-line {
		background-color: @syntax-current-back-color;
	}

	.wrap-guide {
		background-color: @syntax-wrap-guide-color;
	}

	.indent-guide:first-of-type {
		box-shadow: none;
	}
	.indent-guide:not(:first-of-type) {
		color: @syntax-indent-guide-color;
	}

	.invisible-character {
		color: @syntax-invisible-character-color;
	}

	.gutter {
		background-color: @syntax-gutter-background-color;
		color: @syntax-gutter-text-color;

		.line-number {
			&.cursor-line {
				background-color: @syntax-gutter-background-color-selected;
				color: @syntax-gutter-text-color-selected;
			}

			&.cursor-line-no-selection {
				color: @syntax-gutter-text-color-selected;
			}
		}

		.git-line-modified {
			border-color: @syntax-color-modified;
		}
		.git-line-added {
			border-color: @syntax-color-added;
		}
		.git-line-removed {
			border-color: @syntax-color-removed;
		}
		.git-line-renamed {
			border-color: @syntax-color-renamed;
		}
	}

	.gutter .line-number.folded,
	.gutter .line-number:after,
	.fold-marker:after {
		color: gray;
	}

	.icon-right {
		color: @syntax-gutter-fold-icon;
	}

	.invisible {
		color: @syntax-text-color;
	}
}

// Mini editor

atom-text-editor[mini] .scroll-view {
	padding-left: 1px;
}

// Language definitions
.powershell {
	@import "lang-powershell";
}
.css {
	@import "lang-css";
}
.json {
	@import "lang-json";
}
