// Syntax styles for PowerShell

.syntax--comment {
	color: @syntax-green;

	&.syntax--block, .syntax--documentation {
		color: darken(@syntax-text-color, 25%) !important;
	}
}

.syntax--function, .syntax--type, .syntax--control, .syntax--requires {
	color: lighten(@syntax-text-color,33%);
	font-weight: 900;
}

.syntax--keyword.syntax--operator {
	color: darken(@syntax-text-color, 25%);
}

.syntax--constant {
	color: @syntax-blue;

	&.syntax--character.syntax--escape {
		color: darken(@syntax-text-color, 25%);
	}
}

.syntax--invalid.syntax--illegal {
	color: @syntax-red;
}

.syntax--string {
	color: @syntax-orange;
}

.syntax--hyperlink {
	border-bottom: 1px solid;
}

.syntax--punctuation {
	&.syntax--braces, &.syntax--group, &.syntax--bracket {
		color: @syntax-yellow;
	}
}
